.container {
  background-image: src('img/fundo.png');
  background-size: cover;
  background-position: center;
  
  height: 200vh;
  
            
}

.titulo {
  text-align: center;
  margin-top: 300px;
}
.botoes{
            display: flex;
  margin-top: 300px;
            
}
#sim {
            height: 60px;
            width: 70px;
            margin-right: 10px;
            background-color: pink;
            
            
            
            
            
}

#nao {
            height: 60px;
            width: 70px;
            margin-left: 10px;
            background-color: pink;
            
            
            
            
            
}
