.container {
  background-image: src('fundo.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
            
}

.titulo {
  text-align: center;
  
}
.botoes{
            display: flex;
  
            
}
#sim {
            height: 60px;
            width: 70px;
            margin-right: 10px;
            background-color: pink;
            
            
            
            
            
}

#nao {
            height: 60px;
            width: 70px;
            margin-left: 10px;
            background-color: pink;
            
            
            
            
            
}
